.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;  
}
  
.control-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.2s linear;
}
  
.control-button:hover {
    transform: scale(1.2);
    opacity: 50%;
}
  
.control-icon {
    width: 24px;
    height: 24px;
}
  
.play-button .control-icon{
    width: 36px;
    height: 36px;
}